.navbarItems {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 100%;
    border-radius: 13px;
    position: fixed;
    z-index: 9999;
}

.navbar-logo {
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;

}

.nav-link {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;


}

.nav-login-link {
    text-decoration: none;
    color: #007acc;
    font-size: 1.2rem;
    font-weight: 500;
    background: #fff;
    border: 1px solid #007acc;
    border-radius: 30px;
    padding: 0.7rem 2rem;
    transition: all 0.3s ease-in-out;
}

.nav-login-link:hover {
    background: #e8e8e8;
}

.nav-signup-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    background: #eb6200;
    border: 1px solid #eb6200;
    border-radius: 30px;
    padding: 0.7rem 2rem;
    transition: all 0.3s ease-in-out;
}

.nav-signup-link:hover {
    background: #ef8539;
    border: 1px solid #db7f3d;

}

.nav-logout-link {
    text-decoration: none;
    color: #007acc;
    font-size: 1.2rem;
    font-weight: 500;
    background: #fff;
    border: 1px solid #007acc;
    border-radius: 30px;
    padding: 0.7rem 2rem;
    transition: all 0.3s ease-in-out;
}

.nav-logout-link:hover {
    background: #e8e8e8;
}

.nav-link i {
    padding-right: 10px;
}

/* 007acc */
.nav-link:hover {
    background-color: #007acc;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.menu-icons {
    display: none;
}



@media screen and (max-width: 850px) {

    .navbarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
        flex-direction: column;
        justify-content: flex-start;
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
        border-radius: 13px;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .nav-link {
        display: block;
        text-align: center;
        margin: auto;
        width: 80%;
        font-size: 1.2rem;
        padding: 1rem 5rem;
    }

    .nav-link:hover {
        background: #e8e8e8;
        color: #222;
        transition: none;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons {
        font-size: 1.2rem;
        color: #222;
    }

    .nav-login-link,
    .nav-logout-link {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: auto;
        border-radius: 4px;
        width: 50%;
        background: #007acc;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
        border-style: none;
        transition: all 0.3s ease-in-out;
    }

    .nav-login-link:hover {
        background: #006bb3;
        color: #fff;
    }

    .nav-logout-link:hover {
        background: #006bb3;
        color: #fff;
    }

    .nav-signup-link {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: auto;
        border-radius: 4px;
        width: 50%;
        background: #e8e8e8;
        text-decoration: none;
        color: #007acc;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
        border-style: none;
    }

    .nav-signup-link:hover {
        border-style: none;
        background: #006bb3;
        color: #fff;
    }

}